.form {
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 10px 75px;
  text-align: center;
  background-color: rgb(222, 241, 223);
}

.title {
  margin-right: 15px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.input {
  font-family: Roboto, sans-serif;
  height: 17px;
  padding: 4px;
  font-size: 16px;
  border: 1px solid rgb(180, 201, 179);
  border-radius: 5px;
}